<h2>User List</h2>
<div class="row">
    <div class="col-3">
        <input type="text" class="form-control mb-2" (input)="Search()"  [(ngModel)]="name" placeholder="name">
    </div>
    <div class="col-3">
        <input type="text" class="form-control mb-2" (input)="Search()"  [(ngModel)]="email" placeholder="email">
    </div>
</div>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th (click)="sort('name')">Name</th>
            <th (click)="sort('age')">Age</th>
            <th (click)="sort('email')">Email</th>
            <th>Update Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList | orderBy : key : reverse |paginate:{itemsPerPage:5,currentPage : p}">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td><a routerLink="/update" (click)="onUpdateDetail(user._id)"><button class="btn btn-danger">Update</button></a></td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
<br>
<button class="btn btn-primary mb-2" (click)="showAddUser=!showAddUser">Click to add User</button>
<div *ngIf="showAddUser">
    <h2>Create User</h2>
    <form (ngSubmit)="onAddUser(f1)" #f1="ngForm">
        <div class="row form-group">
            <div class="col-3">
                <label for="name">Name :</label>
            </div>
            <div class="col-9">
                <input type="text" id="name" class="form-control" name="name" ngModel required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-3">
                <label for="age">Age :</label>
            </div>
            <div class="col-9">
                <input type="number" id="age" class="form-control" name="age" ngModel required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-3">
                <label for="email">Email :</label>
            </div>
            <div class="col-9">
                <input type="text" id="email" class="form-control" name="email" ngModel required>
            </div>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!f1.valid">Add User</button>
        <div class="alert alert-success mt-2" *ngIf="successAddAlert">
            <button class="close" (click)="successAddAlert=!successAddAlert">x</button>
            <strong>Success!</strong> User created
        </div>
        <div class="alert alert-danger mt-2" *ngIf="errorAddAlert">
            <button class="close" (click)="errorAddAlert=!errorAddAlert">x</button>
            <strong>Error!</strong> Email must be unique or network error
        </div>
    </form>
</div>


