<br><br>
<div class="row">
    <div class="col-4">
        <img class="rounded bookimg" width="280" height="380" src="../../assets/bookcover.png" alt="Card image cap">
        <!-- <button type="button" class="btn btn-danger withdraw">
            Deposit
        </button> -->
    </div>
    <div class="col-8">
        <h1 class="text-info font-italic">{{title}}</h1>
        <h5 class="text-secondary ml-3">- {{author}}</h5>
        <hr>
        <h6>Genre : {{genre}}</h6>
        <hr>
        <h4 class="mt-4">Summary:</h4>
        <p class="mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at diam tortor. Proin pharetra varius elit, id consectetur lacus. Proin ac massa at enim lacinia blandit. Nam sit amet eros sit amet libero volutpat suscipit. Vivamus vitae scelerisque est. In quis justo suscipit, venenatis mauris vitae, pharetra nulla. Sed non nisi et purus pharetra hendrerit. Vestibulum a interdum felis. Proin at ante eget eros condimentum ultricies. Ut pellentesque magna eu tortor venenatis, non volutpat ante accumsan.
        </p>
    </div>
</div>
<br><br>
<button class="btn btn-info" (click)="onBack()">Back</button>
